.container {
    max-width: 1180px;
    margin: 0 auto;
    @include pad{
        max-width: 690px;
    }
}

.l-header {
    padding: 30px 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-color;
    a {
        display: block;
    }
}

.l-menuList {
    display: flex;
    font-size: $font-size-medium;
    @include pad{
        font-size: 20px;
    }
    a {
        padding: 0 32px;
        display: block;
        color: $color-white;
        @include pad{
            padding: 0 20px;
        }
    }
}