$primary-color:#AA0601;
$darker-primary-color:#650300;
$lighter-primary-color:#AA06010D;
$color-white:#FFFFFF;
$color-dark:#000000;
$color-very-black-blue:#212529;
$color-very-dark-gray:#707070;
$color-light-grayish-red:#fbf2f2;

$font-size-light:14px;
$font-size-base:16px;
$font-size-medium:20px;
$font-size-large:24px;
$font-size-x-large:36px;
$font-size-xx-large:48px;

$line-height-base : 1.5;
$line-height-sm : 1.25;
$line-height-lg : 2;