.banner {
    height: 840px;
    background: url(../images/week3/banner.png) center/cover;
    color: $darker-primary-color;
    @include pad {
        background: url(../images/week3/banner-sm.png) center/cover;
    }
    @include mobile {
        height: 394px;
    }
    &__wording {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
        h2 {
            font-size: 64px;
            font-weight: bold;
            @include pad {
                font-size: $font-size-xx-large;
            }
            @include mobile {
                font-size: 32px;
            }
        }
        h3 {
            font-size: $font-size-x-large;
            @include pad {
                font-size: $font-size-medium;
            }
            @include mobile {
                font-size: $font-size-base;
                font-family: PingFang, sans-serif;
            }
        }
    }
}

.ourTarget {
    padding: 60px 0 80px;
    background: $lighter-primary-color;
    color: $darker-primary-color;
    @include pad {
        padding: 40px 0 56px;
    }
    @include mobile {
        padding: 32px 0 0;
    }
    .p-index-sectionTitle {
        @include mobile {
            font-size: $font-size-large;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 48px;
        @include pad {
            flex-wrap: wrap;
            margin-right: auto;
            margin-left: auto;
        }
        @include mobile {
            margin-top: 20px;
        }
        &__item {
            text-align: center;
            width: 22%;
            @include pad {
                width: 50%;
                padding: 0 6%;
                margin-bottom: 44px;
            }
            @include mobile {
                width: 100%;
                padding: 0 13%;
                margin-top: 40px;
            }
            &__img {
                height: 83px;
                width: 83px;
                display: block;
                margin: 0 auto;
            }
            &__title {
                margin-top: 24px;
                font-size: $font-size-large;
                font-weight: bold;
            }
            &__body {
                margin-top: 8px;
                color: $color-black;
                text-align: left;
            }
        }
    }
}

.classicTypes {
    padding: 60px 0 48px;
    color: $darker-primary-color;
    @include pad {
        padding: 40px 0 48px;
    }
    @include mobile {
        padding: 32px 0;
    }
    &__list {
        margin-top: 40px;
        @include pad {
            margin-top: 32px;
        }
        @include mobile {
            margin-top: 20px;
        }
        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 32px;
            @include pad {
                margin-bottom: 8px;
            }
            @include mobile {
                position: relative;
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
                @include pad {
                    flex-direction: row;
                }
            }
            &__img {
                width: 56%;
                display: block;
                @include mobile {
                    width: 100%;
                }
            }
            &__body {
                margin: 0 30px;
                color: $primary-color;
                display: block;
                @include mobile {
                    position: absolute;
                    margin: 0 auto;
                    width: 100%;
                    text-align: center;
                }
                &__title {
                    font-family: Roboto, sans-serif;
                    font-style: italic;
                    font-weight: 900;
                    text-transform: uppercase;
                    font-size: $font-size-xx-large;
                    @include pad {
                        font-size: 28px;
                    }
                }
                img,
                span {
                    vertical-align: middle;
                    margin-right: 10px;
                }
                img {
                    width: 44px;
                    @include pad {
                        width: 36px;
                    }
                }
                span {
                    font-size: $font-size-xx-large;
                    @include pad {
                        font-size: 26px
                    }
                }
            }
        }
    }
}

.feet {
    background: url(../images/week3/bg.png) center/cover;
    padding: 60px 0 80px;
    color: $color-white;
    @include pad {
        padding: 40px 0 56px;
    }
    @include mobile {
        padding: 32px 0 24px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        @include pad {
            margin-top: 32px;
        }
        @include mobile {
            margin-top: 20px;
            flex-wrap: wrap;
        }
        &__item {
            position: relative;
            width: 48%;
            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                background: white;
                opacity: 0.5;
            }
            @include mobile {
                margin-bottom: 16px;
                width: 100%;
            }
            &__wording {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;
                text-align: center;
                color: $primary-color;
                font-weight: bold;
                font-family: Roboto, sans-serif;
                font-size: 72px;
                line-height: 108px;
                z-index: 1;
                @include pad {
                    font-size: 32px;
                }
            }
        }
    }
}

.customRecommend {
    padding: 60px 0 80px;
    color: $darker-primary-color;
    @include pad {
        padding: 40px 0 24px;
    }
    @include mobile {
        padding: 32px 0 24px;
    }
    &__list {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        @include pad {
            margin-top: 32px;
            flex-wrap: wrap;
        }
        @include mobile {
            margin-top: 20px;
        }
        &__item {
            width: 22%;
            ;
            font-size: $font-size-light;
            color: $color-very-black-blue;
            border: 1px solid #DEE2E6;
            box-shadow: 0 2px 6px #00000029;
            border-radius: 4px;
            @include pad {
                width: 47%;
                margin-bottom: 32px;
            }
            @include mobile {
                width: 100%;
                margin-bottom: 16px;
            }
            &__img {
                display: block;
                height: 256px;
                margin-bottom: 16px;
                object-fit: cover;
                @include mobile {
                    width: 100%;
                }
            }
            &__body {
                height: 204px;
                padding: 0 16px;
                display: flex;
                flex-direction: column;
                &__title {
                    margin-bottom: 8px;
                    font-weight: 500;
                }
                &__content {
                    font-size: $font-size-base;
                    margin-bottom: auto;
                }
                &__date {
                    color: $color-very-dark-gray;
                    margin-bottom: 16px;
                }
            }
        }
    }
}

.contactUs {
    padding: 60px 0 80px 0;
    background: $color-light-grayish-red;
    color: $color-black;
    @include pad {
        padding: 40px 0 56px 0;
        font-size: 14px;
    }
    @include mobile {
        padding: 30px 0 40px;
    }
    &__content {
        width: 65%;
        margin: 0 auto;
        @include mobile {
            width: 100%;
        }
        &__discript {
            font-size: $font-size-medium;
            margin-bottom: 20px;
            @include pad {
                font-size: $font-size-base;
            }
            @include mobile {
                margin-bottom: 8px;
            }
        }
        &__form {
            margin: 24px auto 0;
            &__row {
                margin-bottom: 16px;
                @include mobile {
                    margin-bottom: 8px;
                }
            }
            &__suggest {
                height: 136px;
                resize: none;
            }
            &__submit {
                width: 47%;
                display: block;
                margin: 40px auto 0;
                padding: 16px 0px;
                color: $color-white;
                background: $primary-color;
                cursor: pointer;
                &:hover {
                    background: $darker-primary-color;
                }
                @include pad {
                    margin: 20px auto 0;
                }
            }
        }
    }
}

.p-index-sectionTitle {
    font-size: $font-size-xx-large;
    font-weight: bold;
    text-align: center;
    @include pad {
        font-size: 32px;
    }
    @include mobile {
        font-size: 20px;
    }
}