.qa {
    padding: 96px 0 128px;
    @include pad {
        padding: 60px 0 72px;
    }
    @include mobile {
        padding: 28px 0 36px;
    }
    .c-pageHeading {
        margin-bottom: 60px;
        @include pad {
            margin-bottom: 40px;
        }
        @include mobile {
            margin-bottom: 24px;
        }
    }
    &__h3 {
        font-size: 32px;
        margin-bottom: 36px;
        font-weight: bold;
        @include pad {
            margin-bottom: 32px;
        }
        @include mobile {
            margin-bottom: 24px;
            font-size: 20px;
        }
    }
    &__list {
        &__item {
            margin-bottom: 32px;
            @include pad {
                margin-bottom: 24px;
            }
            @include mobile {
                margin-bottom: 20px;
            }
            &__question {
                font-size: $font-size-medium;
                font-weight: bold;
                margin-bottom: 16px;
                @include mobile {
                    font-size: $font-size-base;
                    margin-bottom: 8px;
                }
            }
            &__answer {
                width: 82%;
                padding-left: 8.5%;
                @include pad {
                    width: 91%;
                }
                @include mobile {
                    width: 100%;
                    padding-left: 0;
                }
                p {
                    @include mobile {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}