.banner {
    height: 840px;
    background: url(/images/week3/banner.png) center/cover;
    color: $darker-primary-color;
    @include mobile{
        height: 394px;
    }
    &__wording {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
        h2 {
            font-size: 64px;
            font-weight: bold;
            @include pad {
                font-size: $font-size-xx-large;
            }
            @include mobile{
                font-size: 32px;
            }
        }
        h3 {
            font-size: $font-size-x-large;
            @include pad {
                font-size: $font-size-medium;
            }
            @include mobile {
                font-size: $font-size-base;
                font-family: PingFang, sans-serif;
            }
        }
    }
}

.ourTarget {
    padding: 60px 0 80px;
    background: $lighter-primary-color;
    color: $darker-primary-color;
    @include pad {
        padding: 40px 0 56px;
    }
    @include mobile{
        padding: 32px 0 0;
    }
    .p-index-sectionTitle{
        @include mobile{
            font-size: $font-size-large;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 48px;
        @include pad {
            width: 615px;
            flex-wrap: wrap;
            margin-right: auto;
            margin-left: auto;
        }
        @include mobile{
            width: 255px;
            margin-top: 20px;
        }
        &__item {
            text-align: center;
            @include pad {
                margin-bottom: 44px;
            }
            @include mobile{
                margin-top: 40px;
            }
            &__img {
                height: 83px;
                width: 83px;
                display: block;
                margin: 0 auto;
            }
            &__title {
                margin-top: 24px;
                font-size: $font-size-large;
                font-weight: bold;
            }
            &__body {
                width: 255px;
                margin-top: 8px;
                color: $color-black;
            }
        }
    }
}

.classicTypes {
    padding: 60px 0 48px;
    color: $darker-primary-color;
    @include pad {
        padding: 40px 0 48px;
    }
    @include mobile{
        padding: 32px 0;
    }
    &__list {
        margin-top: 40px;
        @include pad {
            margin-top: 32px;
        }
        @include mobile{
            margin-top: 20px;
        }
        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 32px;
            @include pad {
                margin-bottom: 8px;
            }
            @include mobile{
                position: relative;
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
                @include pad {
                    flex-direction: row;
                }
            }
            &__img {
                width: 635px;
                display: block;
                @include pad {
                    width: 390px;
                }
            }
            &__body {
                margin: 0 30px;
                color: $primary-color;
                display: block;
                @include mobile{
                    position: absolute;
                    margin: 0 auto;
                    width: 100%;
                    text-align: center;
                }
                &__title {
                    font-family: Roboto, sans-serif;
                    font-style: italic;
                    font-weight: 900;
                    text-transform: uppercase;
                    font-size: $font-size-xx-large;
                    @include pad {
                        font-size: 28px;
                    }
                }
                img,
                span {
                    vertical-align: middle;
                    margin-right: 10px;
                }
                img {
                    width: 44px;
                    @include pad {
                        width: 36px;
                    }
                }
                span {
                    font-size: $font-size-xx-large;
                    @include pad {
                        font-size: 26px
                    }
                }
            }
        }
    }
}

.feet {
    background: url(/images/week3/bg.png) center/cover;
    padding: 60px 0 80px;
    color: $color-white;
    @include pad {
        padding: 40px 0 56px;
    }
    @include mobile{
        padding: 32px 0 24px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        @include pad {
            margin-top: 32px;
        }
        @include mobile{
            margin-top: 20px;
            flex-wrap: wrap;
        }
        &__item {
            position: relative;
            @include mobile{
                margin-bottom: 16px;
            }
            &__img {
                max-width: 540px;
                @include pad {
                    max-width: 330px;
                }
                @include mobile {
                    max-width: 345px;
                }
                @include mobile-se {
                    max-width: 320px;
                }
            }
            &__wording {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;
                text-align: center;
                color: $darker-primary-color;
                font-weight: bold;
                font-family: Roboto, sans-serif;
                font-size: 72px;
                line-height: 108px;
                @include pad {
                    font-size: 32px;
                }
            }
        }
    }
}

.customRecommend {
    padding: 60px 0 80px ;
    color: $darker-primary-color;
    @include pad {
        padding: 40px 0 24px;
    }
    @include mobile {
        padding: 32px 0 24px ;
    }
    &__list {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        @include pad {
            margin-top: 32px;
            flex-wrap: wrap;
        }
        @include mobile{
            margin-top: 20px;
        }
        &__item {
            width: 255px;
            font-size: $font-size-light;
            color: $color-very-black-blue;
            border: 1px solid #DEE2E6;
            box-shadow: 0 2px 6px #00000029;
            border-radius: 4px;
            @include pad {
                width: 330px;
                margin-bottom: 32px;
            }
            @include mobile{
                width: 345px;
                margin-bottom: 16px;
            }
            &__img {
                display: block;
                height: 256px;
                margin-bottom: 16px;
                background-size: cover;
                background-position: top;
                @include mobile{
                    width: 100%;
                }
            }
            &__body {
                height: 204px;
                padding: 0 16px;
                display: flex;
                flex-direction: column;
                &__title {
                    margin-bottom: 8px;
                    font-weight: 500;
                }
                &__content {
                    font-size: $font-size-base;
                    margin-bottom: auto;
                }
                &__date {
                    color: $color-very-dark-gray;
                    margin-bottom: 16px;
                }
            }
        }
    }
}

.contactUs {
    padding: 60px 0 80px 0;
    background: $color-light-grayish-red;
    color: $color-black;
    @include pad {
        padding: 40px 0 56px 0;
        font-size: 14px;
    }
    @include mobile{
        padding: 30px 0 40px ;
    }
    &__form {
        margin: 24px auto 0;
        width: 730px;
        @include pad {
            width: 450px;
        }
        @include mobile{
            max-width: 345px;
        }
        @include mobile-se{
            max-width: 320px;
        }
        &__discript {
            font-size: $font-size-medium;
            margin-bottom: 20px;
            @include pad {
                font-size: $font-size-base;
            }
            @include mobile{
                margin-bottom: 8px;
            }
        }
        &__row{
            margin-bottom: 16px;
            @include mobile{
                margin-bottom: 8px;
            }
        }
        &__suggest {
            height: 136px;
            resize: none;
        }
        &__submit {
            display: block;
            margin: 40px auto 0;
            padding: 16px 143px;
            color: $color-white;
            background: $primary-color;
            @include pad {
                margin: 20px auto 0;
            }
            @include mobile{
                padding: 8px 54px;
            }
        }
    }
}

.footer {
    padding: 44px 0 39px;
    background: $primary-color;
    color: $color-white;
    @include mobile{
        padding: 24px 0;
    }
    a {
        color: $color-white;
    }
    &__main{
        @include mobile{
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;
            justify-content: space-between;
        }
        &__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .l-menuList{
                font-size: $font-size-base;
                @include mobile{
                    display: none;
                }
            }
            &__mediaList {
                display: flex;
                align-items: center;
                a {
                    display: block;
                    padding: 0 16px;
                    @include mobile{
                        padding: 0 12px;
                    }
                }
                img {
                    width: 48px;
                    display: block;
                    @include pad {
                        width: 24px;
                    }
                }
            }
        }
        &__contact {
            margin-top: 36px;
            @include pad {
                margin-top: 18px;
            }
            @include mobile{
                margin-top: 0;
            }
            &__list {
                &__item {
                    margin-bottom: 16px;
                    @include pad {
                        margin-top: 12px;
                    }
                    @include mobile{
                        margin-top: 0;
                    }
                    a {
                        display: block;
                        font-size: $font-size-x-large;
                        line-height: 1em;
                        @include pad {
                            font-size: 20px;
                        }
                        @include mobile{
                            font-size: $font-size-base;
                        }
                        img {
                            vertical-align: middle;
                            width: 36px;
                            margin-right: 22px;
                            @include pad {
                                width: 18px;
                                margin-right: 11px;
                            }
                            @include mobile{
                                max-width: 15px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
        &__hr{
            height: 1px;
            background: $color-white;
        }
    }
    &__rights {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        font-size: $font-size-base;
        @include mobile{
            flex-direction: column;
            font-size: $font-size-light;
        }
        &__policyList {
            display: flex;
            font-size: $font-size-light;
            @include mobile{
                flex-direction: column;
            }
            &__item {
                margin-left: 48px;
                @include pad {
                    margin-left: 24px;
                }
                @include mobile{
                    margin-top: 8px;
                    margin-left: 0;
                }
            }
        }
    }
}

.p-index-sectionTitle {
    font-size: $font-size-xx-large;
    font-weight: bold;
    text-align: center;
    @include pad {
        font-size: 32px;
    }
    @include mobile{
        font-size: 20px;
    }
}