@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300%3b400%3b500%3b700%3b900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100%3b0,300%3b0,400%3b0,500%3b0,700%3b0,900%3b1,100%3b1,300%3b1,400%3b1,500%3b1,700%3b1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

body {
  line-height: 1.5;
  font-family: 'Noto Sans TC', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-5 {
  margin-bottom: 40px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-7 {
  margin-bottom: 56px; }

.mb-8 {
  margin-bottom: 64px; }

.mb-9 {
  margin-bottom: 72px; }

.mb-10 {
  margin-bottom: 80px; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-direction-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.justify-content-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 375px) {
    .container {
      max-width: 375px; } }
  @media (max-width: 320px) {
    .container {
      max-width: 320px; } }

.l-header {
  padding: 30px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #AA0601; }
  @media (max-width: 375px) {
    .l-header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; } }
  .l-header__logo img {
    width: 80px; }
    @media (max-width: 375px) {
      .l-header__logo img {
        width: 48px;
        padding: 10px 0; } }
  .l-header a {
    display: block; }

.l-menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  text-align: center; }
  @media (max-width: 768px) {
    .l-menuList {
      font-size: 20px; } }
  @media (max-width: 375px) {
    .l-menuList {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (max-width: 375px) {
    .l-menuList__item {
      width: 50%; } }
  .l-menuList__item a {
    padding: 0 32px;
    display: block;
    color: #FFFFFF; }
    @media (max-width: 768px) {
      .l-menuList__item a {
        padding: 0 20px; } }
    @media (max-width: 375px) {
      .l-menuList__item a {
        border: 1px solid #FFFFFF; } }

.l-footer {
  padding: 44px 0 39px;
  background: #AA0601;
  color: #FFFFFF; }
  @media (max-width: 375px) {
    .l-footer {
      padding: 24px 0; } }
  .l-footer a {
    color: #FFFFFF; }
  @media (max-width: 375px) {
    .l-footer__main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .l-footer__main__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .l-footer__main__head .l-menuList {
      font-size: 16px; }
      @media (max-width: 375px) {
        .l-footer__main__head .l-menuList {
          display: none; } }
    .l-footer__main__head__mediaList {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .l-footer__main__head__mediaList a {
        display: block;
        padding: 0 16px; }
        @media (max-width: 375px) {
          .l-footer__main__head__mediaList a {
            padding: 0 12px; } }
      .l-footer__main__head__mediaList img {
        width: 48px;
        display: block; }
        @media (max-width: 768px) {
          .l-footer__main__head__mediaList img {
            width: 24px; } }
  .l-footer__main__contact {
    padding-bottom: 8px;
    margin-top: 36px; }
    @media (max-width: 768px) {
      .l-footer__main__contact {
        margin-top: 18px; } }
    @media (max-width: 375px) {
      .l-footer__main__contact {
        margin-top: 0; } }
    .l-footer__main__contact__list__item {
      margin-bottom: 16px; }
      @media (max-width: 768px) {
        .l-footer__main__contact__list__item {
          margin-top: 12px; } }
      @media (max-width: 375px) {
        .l-footer__main__contact__list__item {
          margin-top: 0; } }
      .l-footer__main__contact__list__item a {
        display: block;
        font-size: 36px;
        line-height: 1em; }
        @media (max-width: 768px) {
          .l-footer__main__contact__list__item a {
            font-size: 20px; } }
        @media (max-width: 375px) {
          .l-footer__main__contact__list__item a {
            font-size: 16px; } }
        .l-footer__main__contact__list__item a img {
          vertical-align: middle;
          width: 36px;
          margin-right: 22px; }
          @media (max-width: 768px) {
            .l-footer__main__contact__list__item a img {
              width: 18px;
              margin-right: 11px; } }
          @media (max-width: 375px) {
            .l-footer__main__contact__list__item a img {
              max-width: 15px;
              margin-right: 5px; } }
  .l-footer__main__hr {
    height: 1px;
    background: #FFFFFF; }
  .l-footer__rights {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 16px; }
    @media (max-width: 375px) {
      .l-footer__rights {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: 14px; } }
    .l-footer__rights__policyList {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 14px; }
      @media (max-width: 375px) {
        .l-footer__rights__policyList {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .l-footer__rights__policyList__item {
        margin-left: 48px; }
        @media (max-width: 768px) {
          .l-footer__rights__policyList__item {
            margin-left: 24px; } }
        @media (max-width: 375px) {
          .l-footer__rights__policyList__item {
            margin-top: 8px;
            margin-left: 0; } }

.form-control {
  display: block;
  width: 100%;
  padding: 1.3rem 1rem;
  font-size: 1rem;
  border: 1px solid #000000;
  background-color: transparent; }

.form-select {
  display: block;
  padding: .5rem 1.4rem;
  font-size: 18px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -webkit-appearance: none; }

.c-pageHeading {
  padding-left: 16px;
  border-left: 8px solid #AA0601;
  font-size: 48px;
  line-height: 80px;
  font-weight: bold; }
  @media (max-width: 768px) {
    .c-pageHeading {
      border-left: 4px solid #AA0601;
      margin-bottom: 40px;
      line-height: 1em; } }
  @media (max-width: 375px) {
    .c-pageHeading {
      padding-left: 8px;
      margin-bottom: 24px;
      font-size: 28px; } }

.c-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .c-pagination li {
    border: 1px solid #555555; }
    .c-pagination li a {
      display: block;
      padding: 12px 16px;
      font-size: 18px;
      font-family: Roboto, sans-serif;
      color: #555555; }
      @media (max-width: 375px) {
        .c-pagination li a {
          font-size: 16px;
          padding: 10px 12px; } }
  .c-pagination--active {
    background: #000000; }
    .c-pagination--active a {
      color: #FFFFFF !important; }

.c-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px 0;
  list-style: none; }
  @media (max-width: 768px) {
    .c-breadcrumb {
      font-size: 14px; } }
  .c-breadcrumb__item + .c-breadcrumb__item {
    padding-left: 0.5rem; }
    .c-breadcrumb__item + .c-breadcrumb__item::before {
      float: left;
      padding-right: 0.5rem;
      color: #000000;
      content: '/'; }
  .c-breadcrumb__item a {
    color: #000000; }
  .c-breadcrumb .active {
    color: #AA0601; }

.c-tag {
  display: inline-block;
  line-height: 1em;
  color: #AA0601;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-weight: bold; }
  @media (max-width: 768px) {
    .c-tag {
      font-size: 16px; } }
  .c-tag::before {
    float: left;
    content: '#'; }

.banner {
  height: 840px;
  background: url(../images/week3/banner.png) center/cover;
  color: #650300; }
  @media (max-width: 768px) {
    .banner {
      background: url(../images/week3/banner-sm.png) center/cover; } }
  @media (max-width: 375px) {
    .banner {
      height: 394px; } }
  .banner__wording {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: right; }
    .banner__wording h2 {
      font-size: 64px;
      font-weight: bold; }
      @media (max-width: 768px) {
        .banner__wording h2 {
          font-size: 48px; } }
      @media (max-width: 375px) {
        .banner__wording h2 {
          font-size: 32px; } }
    .banner__wording h3 {
      font-size: 36px; }
      @media (max-width: 768px) {
        .banner__wording h3 {
          font-size: 20px; } }
      @media (max-width: 375px) {
        .banner__wording h3 {
          font-size: 16px;
          font-family: PingFang, sans-serif; } }

.ourTarget {
  padding: 60px 0 80px;
  background: #AA06010D;
  color: #650300; }
  @media (max-width: 768px) {
    .ourTarget {
      padding: 40px 0 56px; } }
  @media (max-width: 375px) {
    .ourTarget {
      padding: 32px 0 0; } }
  @media (max-width: 375px) {
    .ourTarget .p-index-sectionTitle {
      font-size: 24px; } }
  .ourTarget__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 48px; }
    @media (max-width: 768px) {
      .ourTarget__list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto; } }
    @media (max-width: 375px) {
      .ourTarget__list {
        margin-top: 20px; } }
    .ourTarget__list__item {
      text-align: center;
      width: 22%; }
      @media (max-width: 768px) {
        .ourTarget__list__item {
          width: 50%;
          padding: 0 6%;
          margin-bottom: 44px; } }
      @media (max-width: 375px) {
        .ourTarget__list__item {
          width: 100%;
          padding: 0 13%;
          margin-top: 40px; } }
      .ourTarget__list__item__img {
        height: 83px;
        width: 83px;
        display: block;
        margin: 0 auto; }
      .ourTarget__list__item__title {
        margin-top: 24px;
        font-size: 24px;
        font-weight: bold; }
      .ourTarget__list__item__body {
        margin-top: 8px;
        color: #000000;
        text-align: left; }

.classicTypes {
  padding: 60px 0 48px;
  color: #650300; }
  @media (max-width: 768px) {
    .classicTypes {
      padding: 40px 0 48px; } }
  @media (max-width: 375px) {
    .classicTypes {
      padding: 32px 0; } }
  .classicTypes__list {
    margin-top: 40px; }
    @media (max-width: 768px) {
      .classicTypes__list {
        margin-top: 32px; } }
    @media (max-width: 375px) {
      .classicTypes__list {
        margin-top: 20px; } }
    .classicTypes__list__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 32px; }
      @media (max-width: 768px) {
        .classicTypes__list__item {
          margin-bottom: 8px; } }
      @media (max-width: 375px) {
        .classicTypes__list__item {
          position: relative; } }
      .classicTypes__list__item:nth-child(even) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; }
        @media (max-width: 768px) {
          .classicTypes__list__item:nth-child(even) {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row; } }
      .classicTypes__list__item__img {
        width: 56%;
        display: block; }
        @media (max-width: 375px) {
          .classicTypes__list__item__img {
            width: 100%; } }
      .classicTypes__list__item__body {
        margin: 0 30px;
        color: #AA0601;
        display: block; }
        @media (max-width: 375px) {
          .classicTypes__list__item__body {
            position: absolute;
            margin: 0 auto;
            width: 100%;
            text-align: center; } }
        .classicTypes__list__item__body__title {
          font-family: Roboto, sans-serif;
          font-style: italic;
          font-weight: 900;
          text-transform: uppercase;
          font-size: 48px; }
          @media (max-width: 768px) {
            .classicTypes__list__item__body__title {
              font-size: 28px; } }
        .classicTypes__list__item__body img,
        .classicTypes__list__item__body span {
          vertical-align: middle;
          margin-right: 10px; }
        .classicTypes__list__item__body img {
          width: 44px; }
          @media (max-width: 768px) {
            .classicTypes__list__item__body img {
              width: 36px; } }
        .classicTypes__list__item__body span {
          font-size: 48px; }
          @media (max-width: 768px) {
            .classicTypes__list__item__body span {
              font-size: 26px; } }

.feet {
  background: url(../images/week3/bg.png) center/cover;
  padding: 60px 0 80px;
  color: #FFFFFF; }
  @media (max-width: 768px) {
    .feet {
      padding: 40px 0 56px; } }
  @media (max-width: 375px) {
    .feet {
      padding: 32px 0 24px; } }
  .feet__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px; }
    @media (max-width: 768px) {
      .feet__list {
        margin-top: 32px; } }
    @media (max-width: 375px) {
      .feet__list {
        margin-top: 20px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .feet__list__item {
      position: relative;
      width: 48%; }
      .feet__list__item::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background: white;
        opacity: 0.5; }
      @media (max-width: 375px) {
        .feet__list__item {
          margin-bottom: 16px;
          width: 100%; } }
      .feet__list__item__wording {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
        width: 100%;
        text-align: center;
        color: #AA0601;
        font-weight: bold;
        font-family: Roboto, sans-serif;
        font-size: 72px;
        line-height: 108px;
        z-index: 1; }
        @media (max-width: 768px) {
          .feet__list__item__wording {
            font-size: 32px; } }

.customRecommend {
  padding: 60px 0 80px;
  color: #650300; }
  @media (max-width: 768px) {
    .customRecommend {
      padding: 40px 0 24px; } }
  @media (max-width: 375px) {
    .customRecommend {
      padding: 32px 0 24px; } }
  .customRecommend__list {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .customRecommend__list {
        margin-top: 32px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media (max-width: 375px) {
      .customRecommend__list {
        margin-top: 20px; } }
    .customRecommend__list__item {
      width: 22%;
      font-size: 14px;
      color: #212529;
      border: 1px solid #DEE2E6;
      -webkit-box-shadow: 0 2px 6px #00000029;
              box-shadow: 0 2px 6px #00000029;
      border-radius: 4px; }
      @media (max-width: 768px) {
        .customRecommend__list__item {
          width: 47%;
          margin-bottom: 32px; } }
      @media (max-width: 375px) {
        .customRecommend__list__item {
          width: 100%;
          margin-bottom: 16px; } }
      .customRecommend__list__item__img {
        display: block;
        height: 256px;
        margin-bottom: 16px;
        -o-object-fit: cover;
           object-fit: cover; }
        @media (max-width: 375px) {
          .customRecommend__list__item__img {
            width: 100%; } }
      .customRecommend__list__item__body {
        height: 204px;
        padding: 0 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .customRecommend__list__item__body__title {
          margin-bottom: 8px;
          font-weight: 500; }
        .customRecommend__list__item__body__content {
          font-size: 16px;
          margin-bottom: auto; }
        .customRecommend__list__item__body__date {
          color: #707070;
          margin-bottom: 16px; }

.contactUs {
  padding: 60px 0 80px 0;
  background: #fbf2f2;
  color: #000000; }
  @media (max-width: 768px) {
    .contactUs {
      padding: 40px 0 56px 0;
      font-size: 14px; } }
  @media (max-width: 375px) {
    .contactUs {
      padding: 30px 0 40px; } }
  .contactUs__content {
    width: 65%;
    margin: 0 auto; }
    @media (max-width: 375px) {
      .contactUs__content {
        width: 100%; } }
    .contactUs__content__discript {
      font-size: 20px;
      margin-bottom: 20px; }
      @media (max-width: 768px) {
        .contactUs__content__discript {
          font-size: 16px; } }
      @media (max-width: 375px) {
        .contactUs__content__discript {
          margin-bottom: 8px; } }
    .contactUs__content__form {
      margin: 24px auto 0; }
      .contactUs__content__form__row {
        margin-bottom: 16px; }
        @media (max-width: 375px) {
          .contactUs__content__form__row {
            margin-bottom: 8px; } }
      .contactUs__content__form__suggest {
        height: 136px;
        resize: none; }
      .contactUs__content__form__submit {
        width: 47%;
        display: block;
        margin: 40px auto 0;
        padding: 16px 0px;
        color: #FFFFFF;
        background: #AA0601;
        cursor: pointer; }
        .contactUs__content__form__submit:hover {
          background: #650300; }
        @media (max-width: 768px) {
          .contactUs__content__form__submit {
            margin: 20px auto 0; } }

.p-index-sectionTitle {
  font-size: 48px;
  font-weight: bold;
  text-align: center; }
  @media (max-width: 768px) {
    .p-index-sectionTitle {
      font-size: 32px; } }
  @media (max-width: 375px) {
    .p-index-sectionTitle {
      font-size: 20px; } }

.p-products-productCategoryList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .p-products-productCategoryList__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede; }
    .p-products-productCategoryList__item__a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      line-height: 96px;
      font-size: 32px;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      color: #000000; }
      @media (max-width: 768px) {
        .p-products-productCategoryList__item__a {
          line-height: 60px;
          font-size: 24px; } }
      @media (max-width: 375px) {
        .p-products-productCategoryList__item__a {
          font-size: 14px;
          line-height: 30px; } }
      .p-products-productCategoryList__item__a__img {
        margin-right: 10px; }
        @media (max-width: 768px) {
          .p-products-productCategoryList__item__a__img {
            width: 30px;
            height: 30px; } }
        @media (max-width: 375px) {
          .p-products-productCategoryList__item__a__img {
            width: 14px;
            height: 14px; } }
    .p-products-productCategoryList__item--active {
      border-bottom: 8px solid #AA0601; }
      @media (max-width: 375px) {
        .p-products-productCategoryList__item--active {
          border-bottom: 4px solid #AA0601; } }

.p-products-carousel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px; }
  @media (max-width: 768px) {
    .p-products-carousel__list {
      margin-bottom: 56px; } }
  @media (max-width: 375px) {
    .p-products-carousel__list {
      margin-bottom: 32px; } }
  .p-products-carousel__list img {
    display: block;
    height: 304px;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 375px) {
      .p-products-carousel__list img {
        height: 148px; } }

.p-products-h2 {
  text-align: center;
  font-size: 42px;
  font-family: Roboto, sans-serif;
  font-weight: 500; }
  @media (max-width: 768px) {
    .p-products-h2 {
      font-size: 32px; } }
  @media (max-width: 375px) {
    .p-products-h2 {
      font-size: 20px; } }

.p-products-h3 {
  text-align: center;
  font-size: 32px;
  font-family: Roboto, sans-serif;
  margin-bottom: 40px; }
  @media (max-width: 768px) {
    .p-products-h3 {
      font-size: 24px; } }
  @media (max-width: 375px) {
    .p-products-h3 {
      font-size: 14px;
      margin-bottom: 20px; } }

.p-products-productList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 768px) {
    .p-products-productList {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .p-products-productList__item {
    width: 22%;
    margin-bottom: 104px;
    margin-right: 30px; }
    @media (max-width: 768px) {
      .p-products-productList__item {
        width: 47%;
        margin-right: 0;
        margin-bottom: 72px; } }
    @media (max-width: 375px) {
      .p-products-productList__item {
        width: 100%;
        margin-bottom: 32px; } }
    .p-products-productList__item__img {
      display: block;
      height: 164px;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .p-products-productList__item__descript {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 24px;
      font-family: Roboto, sans-serif;
      text-transform: uppercase; }
      @media (max-width: 375px) {
        .p-products-productList__item__descript {
          font-size: 16px; } }
      .p-products-productList__item__descript__price {
        font-weight: 500;
        color: #b75929; }
    .p-products-productList__item__typeList {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .p-products-productList__item__typeList li {
        margin-right: 8px; }
      .p-products-productList__item__typeList__itemDesaturatedOrange {
        width: 24px;
        height: 24px;
        background: #5f3e2d;
        border-radius: 4px; }
        @media (max-width: 375px) {
          .p-products-productList__item__typeList__itemDesaturatedOrange {
            width: 14px;
            height: 14px; } }
      .p-products-productList__item__typeList__itemStrongOrange {
        width: 24px;
        height: 24px;
        background: #b75929;
        border-radius: 4px; }
        @media (max-width: 375px) {
          .p-products-productList__item__typeList__itemStrongOrange {
            width: 14px;
            height: 14px; } }

.c-pagination {
  margin-bottom: 160px; }
  @media (max-width: 768px) {
    .c-pagination {
      margin-bottom: 96px; } }

.locations {
  padding: 96px 0 106px; }
  @media (max-width: 768px) {
    .locations {
      padding: 60px 0 76px; } }
  @media (max-width: 375px) {
    .locations {
      padding: 28px 0 56px; } }
  .locations .c-pageHeading {
    margin-bottom: 65px; }
    @media (max-width: 768px) {
      .locations .c-pageHeading {
        margin-bottom: 40px; } }
    @media (max-width: 375px) {
      .locations .c-pageHeading {
        margin-bottom: 24px; } }
  .locations__branch {
    margin-bottom: 32px;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .locations__branch {
        margin-bottom: 24px;
        font-size: 16px; } }
    @media (max-width: 375px) {
      .locations__branch {
        font-size: 14px;
        margin-bottom: 20px; } }
    .locations__branch__label {
      margin-right: 22px; }
      @media (max-width: 768px) {
        .locations__branch__label {
          margin-right: 20px; } }
      @media (max-width: 375px) {
        .locations__branch__label {
          margin-right: 12px; } }
    .locations__branch .form-select {
      width: 29%; }
      @media (max-width: 768px) {
        .locations__branch .form-select {
          width: 34%; } }
      @media (max-width: 375px) {
        .locations__branch .form-select {
          width: 80%; } }
  .locations__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 768px) {
      .locations__list {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    .locations__list__item {
      width: 31%;
      margin-right: 2.7%;
      margin-bottom: 32px; }
      @media (max-width: 768px) {
        .locations__list__item {
          width: 47.8%;
          margin-right: 0;
          margin-bottom: 20px; } }
      @media (max-width: 375px) {
        .locations__list__item {
          width: 100%;
          margin-bottom: 16px; } }
      .locations__list__item:nth-child(3n) {
        margin-right: 0; }
      .locations__list__item__img {
        display: block;
        height: 224px;
        width: 100%; }
        @media (max-width: 768px) {
          .locations__list__item__img {
            height: 164px; } }
      .locations__list__item__title {
        font-size: 24px;
        padding: 12px 24px;
        border: 1px solid #dedede; }
        @media (max-width: 768px) {
          .locations__list__item__title {
            font-size: 16px;
            padding: 8px 24px; } }
      .locations__list__item__descripList {
        font-size: 20px;
        line-height: 30px;
        padding: 16px 26px 8px;
        border: 1px solid #dedede; }
        @media (max-width: 768px) {
          .locations__list__item__descripList {
            line-height: 21px;
            font-size: 14px; } }
        .locations__list__item__descripList__item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 8px; }
          .locations__list__item__descripList__item img {
            width: 18px;
            height: 30px;
            margin-right: 8px; }
            @media (max-width: 768px) {
              .locations__list__item__descripList__item img {
                width: 15px;
                height: 21px; } }
      .locations__list__item__button {
        width: 100%;
        background: #000000; }
        .locations__list__item__button a {
          display: block;
          color: white;
          font-size: 19px;
          line-height: 67px; }
          @media (max-width: 768px) {
            .locations__list__item__button a {
              font-size: 14px;
              line-height: 52px; } }

.location {
  padding: 96px 0 106px; }
  @media (max-width: 768px) {
    .location {
      padding: 60px 0 96px; } }
  @media (max-width: 375px) {
    .location {
      padding: 28px 0 56px; } }
  .location .c-pageHeading {
    margin-bottom: 65px; }
    @media (max-width: 768px) {
      .location .c-pageHeading {
        margin-bottom: 40px; } }
    @media (max-width: 375px) {
      .location .c-pageHeading {
        margin-bottom: 24px; } }
  .location__branch {
    margin-bottom: 32px;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 768px) {
      .location__branch {
        margin-bottom: 24px;
        font-size: 16px; } }
    @media (max-width: 375px) {
      .location__branch {
        font-size: 14px;
        margin-bottom: 20px; } }
    .location__branch__label {
      margin-right: 22px; }
      @media (max-width: 768px) {
        .location__branch__label {
          margin-right: 20px; } }
      @media (max-width: 375px) {
        .location__branch__label {
          margin-right: 12px; } }
    .location__branch .form-select {
      width: 29%; }
      @media (max-width: 768px) {
        .location__branch .form-select {
          width: 34%; } }
      @media (max-width: 375px) {
        .location__branch .form-select {
          width: 80%; } }
  .location__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .location__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .location__content__descript {
      width: 40%; }
      @media (max-width: 768px) {
        .location__content__descript {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          margin-bottom: 32px; } }
      @media (max-width: 375px) {
        .location__content__descript {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-bottom: 16px; } }
      .location__content__descript__img {
        display: block; }
        @media (max-width: 768px) {
          .location__content__descript__img {
            width: 47%;
            height: 164px; } }
        @media (max-width: 375px) {
          .location__content__descript__img {
            width: 100%; } }
      @media (max-width: 768px) {
        .location__content__descript__detail {
          width: 47%; } }
      @media (max-width: 375px) {
        .location__content__descript__detail {
          width: 100%; } }
      .location__content__descript__detail__title {
        padding: 12px 24px;
        border: 1px solid #dedede;
        font-size: 24px; }
        @media (max-width: 768px) {
          .location__content__descript__detail__title {
            font-size: 16px; } }
        @media (max-width: 375px) {
          .location__content__descript__detail__title {
            padding: 8px 24px; } }
      .location__content__descript__detail__list {
        padding: 16px 26px 8px;
        border: 1px solid #dedede; }
        .location__content__descript__detail__list__item {
          margin-bottom: 16px;
          font-size: 20px;
          line-height: 30px; }
          @media (max-width: 768px) {
            .location__content__descript__detail__list__item {
              font-size: 14px;
              line-height: 21px;
              margin-bottom: 8px; } }
          .location__content__descript__detail__list__item img {
            width: 18px;
            height: 18px;
            margin-right: 11px; }
            @media (max-width: 768px) {
              .location__content__descript__detail__list__item img {
                width: 15px;
                height: 15px;
                margin-right: 10px; } }
    .location__content__map {
      width: 57%; }
      @media (max-width: 768px) {
        .location__content__map {
          width: 100%;
          height: 422px; } }
      @media (max-width: 375px) {
        .location__content__map {
          height: 211px; } }

.qa {
  padding: 96px 0 128px; }
  @media (max-width: 768px) {
    .qa {
      padding: 60px 0 72px; } }
  @media (max-width: 375px) {
    .qa {
      padding: 28px 0 36px; } }
  .qa .c-pageHeading {
    margin-bottom: 60px; }
    @media (max-width: 768px) {
      .qa .c-pageHeading {
        margin-bottom: 40px; } }
    @media (max-width: 375px) {
      .qa .c-pageHeading {
        margin-bottom: 24px; } }
  .qa__h3 {
    font-size: 32px;
    margin-bottom: 36px;
    font-weight: bold; }
    @media (max-width: 768px) {
      .qa__h3 {
        margin-bottom: 32px; } }
    @media (max-width: 375px) {
      .qa__h3 {
        margin-bottom: 24px;
        font-size: 20px; } }
  .qa__list__item {
    margin-bottom: 32px; }
    @media (max-width: 768px) {
      .qa__list__item {
        margin-bottom: 24px; } }
    @media (max-width: 375px) {
      .qa__list__item {
        margin-bottom: 20px; } }
    .qa__list__item__question {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 16px; }
      @media (max-width: 375px) {
        .qa__list__item__question {
          font-size: 16px;
          margin-bottom: 8px; } }
    .qa__list__item__answer {
      width: 82%;
      padding-left: 8.5%; }
      @media (max-width: 768px) {
        .qa__list__item__answer {
          width: 91%; } }
      @media (max-width: 375px) {
        .qa__list__item__answer {
          width: 100%;
          padding-left: 0; } }
      @media (max-width: 375px) {
        .qa__list__item__answer p {
          margin-bottom: 20px; } }

.p-blogs__nav {
  background: #650300;
  padding: 11px 0;
  margin-bottom: 40px; }
  @media (max-width: 375px) {
    .p-blogs__nav {
      display: none; } }
  .p-blogs__nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .p-blogs__nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .p-blogs__nav__list__item {
      margin-right: 28px; }
      .p-blogs__nav__list__item a {
        display: block;
        color: #FFFFFF; }
  .p-blogs__nav__search {
    vertical-align: middle; }

.p-blogs .c-pageHeading {
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    .p-blogs .c-pageHeading {
      margin-bottom: 40px; } }
  @media (max-width: 375px) {
    .p-blogs .c-pageHeading {
      margin-top: 28px;
      margin-bottom: 24px; } }

.p-blogs__list {
  margin-bottom: 96px; }
  @media (max-width: 768px) {
    .p-blogs__list {
      margin-bottom: 75px; } }
  @media (max-width: 375px) {
    .p-blogs__list {
      margin-bottom: 40px; } }
  .p-blogs__list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px; }
    @media (max-width: 768px) {
      .p-blogs__list__item {
        margin-bottom: 24px; } }
    @media (max-width: 375px) {
      .p-blogs__list__item {
        margin-bottom: 20px; } }
    .p-blogs__list__item a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #000000; }
      @media (max-width: 375px) {
        .p-blogs__list__item a {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
    .p-blogs__list__item__img {
      display: block;
      -o-object-fit: cover;
         object-fit: cover;
      width: 57%;
      height: 400px;
      margin-right: 30px; }
      @media (max-width: 768px) {
        .p-blogs__list__item__img {
          width: 47%;
          height: 208px; } }
      @media (max-width: 375px) {
        .p-blogs__list__item__img {
          width: 100%;
          height: 217px;
          margin-right: 0;
          margin-bottom: 8px; } }
    .p-blogs__list__item__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .p-blogs__list__item__content__title {
        font-size: 32px;
        color: #650300; }
        @media (max-width: 768px) {
          .p-blogs__list__item__content__title {
            font-size: 20px; } }
        @media (max-width: 375px) {
          .p-blogs__list__item__content__title {
            font-size: 16px; } }
      .p-blogs__list__item__content__subTitle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 24px;
        font-family: Roboto, sans-serif; }
        @media (max-width: 768px) {
          .p-blogs__list__item__content__subTitle {
            font-size: 14px;
            margin-bottom: 32px; } }
        @media (max-width: 375px) {
          .p-blogs__list__item__content__subTitle {
            margin-bottom: 0;
            font-size: 14px; } }
        .p-blogs__list__item__content__subTitle h4 {
          font-size: 20px;
          font-weight: 500; }
          @media (max-width: 768px) {
            .p-blogs__list__item__content__subTitle h4 {
              font-size: 16px; } }
      .p-blogs__list__item__content__main {
        font-size: 20px;
        color: #555555; }
        @media (max-width: 768px) {
          .p-blogs__list__item__content__main {
            font-size: 14px; } }
        @media (max-width: 375px) {
          .p-blogs__list__item__content__main {
            display: none; } }
      .p-blogs__list__item__content__more {
        font-size: 36px;
        font-family: Roboto, sans-serif;
        font-weight: 900;
        color: #650300;
        -ms-flex-item-align: end;
            align-self: flex-end; }
        @media (max-width: 768px) {
          .p-blogs__list__item__content__more {
            display: none; } }

.p-blogs .c-pagination {
  margin-bottom: 160px; }
  @media (max-width: 375px) {
    .p-blogs .c-pagination {
      margin-bottom: 56px; } }

.p-blog .p-blogs__nav {
  margin-bottom: 0; }
  @media (max-width: 375px) {
    .p-blog .p-blogs__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media (max-width: 375px) {
    .p-blog .p-blogs__nav .container {
      width: 100%; } }
  @media (max-width: 375px) {
    .p-blog .p-blogs__nav__list {
      width: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (max-width: 375px) {
    .p-blog .p-blogs__nav__list__item {
      margin-right: 0; } }
  @media (max-width: 375px) {
    .p-blog .p-blogs__nav__search {
      display: none; } }

.p-blog__tagList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .p-blog__tagList__item {
    margin-right: 16px; }
    @media (max-width: 768px) {
      .p-blog__tagList__item {
        margin-right: 8px; } }
    @media (max-width: 375px) {
      .p-blog__tagList__item {
        margin-right: 4px; } }

.p-blog__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 375px) {
    .p-blog__main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .p-blog__main__article {
    width: 74%; }
    @media (max-width: 375px) {
      .p-blog__main__article {
        width: 100%; } }
    .p-blog__main__article__title {
      font-size: 48px;
      margin-bottom: 8px; }
      @media (max-width: 768px) {
        .p-blog__main__article__title {
          font-size: 32px; } }
      @media (max-width: 375px) {
        .p-blog__main__article__title {
          font-size: 20px;
          color: #AA0601; } }
    .p-blog__main__article__subTitle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 24px; }
      @media (max-width: 375px) {
        .p-blog__main__article__subTitle {
          margin-bottom: 20px; } }
      .p-blog__main__article__subTitle h3 {
        font-weight: 500;
        font-size: 28px; }
        @media (max-width: 768px) {
          .p-blog__main__article__subTitle h3 {
            font-size: 16px; } }
        @media (max-width: 375px) {
          .p-blog__main__article__subTitle h3 {
            font-size: 14px; } }
      .p-blog__main__article__subTitle time {
        color: #6C6C6C; }
    .p-blog__main__article__share {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 20px; }
      @media (max-width: 375px) {
        .p-blog__main__article__share {
          margin-bottom: 16px; } }
      .p-blog__main__article__share__icon {
        display: block;
        width: 24px;
        height: 24px;
        background: black;
        margin-right: 16px; }
        @media (max-width: 768px) {
          .p-blog__main__article__share__icon {
            width: 20px;
            height: 20px; } }
      .p-blog__main__article__share span {
        font-size: 20px;
        font-weight: bold;
        margin-right: 20px; }
        @media (max-width: 768px) {
          .p-blog__main__article__share span {
            font-size: 16px;
            margin-right: 16px; } }
    .p-blog__main__article__img {
      margin-bottom: 24px;
      width: 100%; }
      @media (max-width: 768px) {
        .p-blog__main__article__img {
          margin-bottom: 16px; } }
    .p-blog__main__article__p {
      margin-bottom: 40px;
      font-size: 20px;
      color: #0A0A0A;
      opacity: 0.6; }
      @media (max-width: 768px) {
        .p-blog__main__article__p {
          font-size: 16px;
          margin-bottom: 24px; } }
    .p-blog__main__article__more {
      border-top: 1px solid #707070;
      padding-top: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 160px; }
      @media (max-width: 768px) {
        .p-blog__main__article__more {
          padding-top: 16px;
          margin-bottom: 96px; } }
      @media (max-width: 375px) {
        .p-blog__main__article__more {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-bottom: 20px; } }
      .p-blog__main__article__more__item a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #000000; }
        .p-blog__main__article__more__item a img {
          width: 30px;
          height: 30px;
          margin-right: 12px; }
          @media (max-width: 768px) {
            .p-blog__main__article__more__item a img {
              width: 16px;
              height: 16px;
              margin-right: 8px; } }
          @media (max-width: 375px) {
            .p-blog__main__article__more__item a img {
              margin-right: 4px; } }
        .p-blog__main__article__more__item a span {
          display: inline-block; }
  .p-blog__main__tages {
    width: 22%; }
    @media (max-width: 375px) {
      .p-blog__main__tages {
        width: 100%;
        margin-bottom: 56px; } }
    .p-blog__main__tages__title {
      color: #AA0601;
      font-size: 28px;
      line-height: 1em;
      font-weight: bold;
      margin-bottom: 9px; }
      @media (max-width: 768px) {
        .p-blog__main__tages__title {
          font-size: 20px;
          line-height: 1em;
          margin-bottom: 8px; } }
      .p-blog__main__tages__title img {
        width: 38px;
        height: 28px;
        vertical-align: middle; }
        @media (max-width: 768px) {
          .p-blog__main__tages__title img {
            width: 19px;
            height: 20px; } }
    .p-blog__main__tages__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .p-blog__main__tages__list__item {
        margin-right: 24px;
        margin-bottom: 8px; }
        @media (max-width: 768px) {
          .p-blog__main__tages__list__item {
            margin-right: 16px;
            margin-bottom: 0; } }

/*# sourceMappingURL=all.css.map */
